// Define a color variable
$color-sassy: #cc4397;
$color-blue: #0059ff;

.app {
  color: $color-blue;
  font-size: 2rem;
  text-align: center;
  .sassyDiv {
    font-size: 3rem;
    color: $color-sassy;
  }
}
